# Entorno virtual
env/

# Archivos de Django que no deberían subirse
*.pyc
__pycache__/
db.sqlite3
*.log

# Configuración del sistema operativo/editor
.DS_Store
.vscode/
.idea/

# Archivos de medios subidos por usuarios
/media/

# Archivos de migración (opcionales si querés resetear en otro entorno)
*/migrations/*.py
!*/migrations/__init__.py
